body {
    height: 100vh;
}

.view-all-payees {
    font-weight: bold;
    color:  #182052;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.custom-dropdown {
    border-radius: 10px;
    width: 230px;
    font-size: 14px;
    margin-left: 25px;
    background-color: #d1d6d4;
    color: #020082;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    color:#182052 ;
    padding-left: 25px;
}

.narrow-btn1 {
    background-color: #182052; /* Orange color */
    color: #fff4f7;
    border-radius: 10px;
    border-color: #182052;
}
.narrow-btn1:hover{
    background-color: white;
    color: #182052;
    border-color: #182052;
}


.narrow-btn{
    color: #fff4f7;
    background-color: red;
    border-radius: 10px;
    margin-left: 10px;
    border-color: red;

}
.narrow-btn:hover{
    color: red;
    background-color: white;
    border-color: red;
}

.card-body{
    background-color: #cadcfd;
    /*border-style: ;*/
    border-radius: 15px;
}
.card{
    border-style: none;
}
.page-link{
    border-radius: 5px;
    margin: 5px 10px;
    border-color: #182052;
    color: #182052;
    background-color: rgba(204, 222, 255, 0.85);
}
.page-link:hover{
    border-color: #182052;
    background-color: #182052;
    color: #CCDEFF;
}

/*.row{*/
/*    !*margin-left: 10px;*!*/
/*    display: flex;*/
/*    justify-content: space-around;*/

/*}*/
/*.card{*/
/*    padding-bottom: 40px;*/
/*}*/