<?xml version="1.0" encoding="UTF-8" ?>
<!-- we can perform application settings using xml -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi = "http://www.w3.org/2001/xsi:schemaLocation="
<!-- declaration that im going to use spring         Definition is rule how the elements should look like-->