.banner{
 
    display: flex;
    width: 100%;
    height: 80px;
   padding: 5px;
    justify-content: space-between;
    background: linear-gradient(15deg,rgb(148, 152, 227),rgb(0, 6, 128));
    background-blend-mode: color-dodge;
    color: white;
    font-size: large;
    font-family: Georgia;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px powderblue;
}
.banner h1{
    font-size: 50px;
}
h2{
    color: purple;
    text-align: center;
    font-family: Georgia;
    letter-spacing: 3px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px powderblue;
}
.row{
    display: flex;
    justify-content: space-around;
    margin:5px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(95, 91, 95);
    padding: 5px;
    align-items: center;
    color:purple;
    font-family: Georgia;
}
.logo {
    /* margin-right: 20px; */
    position: absolute;
    top:150px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
}
.container{
    width: 100%;
}
.account {
    text-align: left;
    position: absolute;
    top:250px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
}
.row1{
    position: absolute;
    top:330px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
    right:500px;
}
.form-control{
    position: absolute;
    top:40px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    right:500px
}
/* styles.css */

.container {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
    cursor: pointer;
}

.card-title {
    text-align: center;
}

.table {
    margin-top: 20px;
}
.row5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px; /* Negative margin to counteract padding */
  }
  
  .row5 > div {
    padding: 0 15px; /* Add padding to child divs */
  }